!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section
      header#masthead
        div.centered
          h1= title
          h2= tagline
          ul
            - each link in links
              li
                a(href: link[1])= link[0]
      section#content
        div.centered!= body

      section#nav
