!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#wrap
      div#main
        div.header
          a(href: '/')
            h1= title
          h2= tagline
        div.content!= body
 
      div#nav
        div.box
          div.header
            h3 About
          div.content
            - each line in about
              p #{line}
        div.box
          div.header
            h3 Recent Posts
          div.content
            ul
              - each recent_post in recent_posts
                li
                  a(href: '/'+recent_post.date.toString('yyyy/MM/dd/')+recent_post.permalink)
                    #{recent_post.title}

        div.box
          div.header
            h3 Etc.
          div.content
            ul
              - each link in links
                li
                  a(href: link[1]) #{link[0]}